:root {
	--black: #222222;
	--pink-bkg: #F1E4E6;
	--pink-text: #f1808f
}

body {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	background-color: var(--black);
}

.header__logo {
	margin: 0 41px 0 0;
}


.header__button {
	background-color: transparent;
	border: 0;
}

.header__link {
	margin: 0 0 0 33px;
}

.header__wrp {
	display: flex;
	justify-content: space-between;
	min-height: 75px;
	align-items: center;
}

.header__menu {
	display: none;
}

.brand {
	display: flex;
	margin: 0 0 63px;

}

.brand__title-wrp {
	display: flex;
	align-items: center;
	padding: 0 0 0 92px;
	background-color: var(--pink-bkg);
	flex-grow: 1;
}

.brand__title {
	font-size: 48px;
	font-weight: 900;
	line-height: 58px;
	color: var(--black);
	text-transform: uppercase;
}

.brand__sap-title {
	display: block;
	font-size: 32px;
	line-height: 38px;
}

.brand__sap-title-pink {
	color: var(--pink-text);
}

.sales__item {
	width: 360px;
	min-width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sales__listb {
	width: 360px;
	min-height: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sales__list {
	display: flex;
	flex-wrap: wrap;
}

.sales__item--woman {
	background-image: url('..img/women.jpg');
	margin-right: 30px;
	position: relative;
}

.sales__item--man {
	background-image: url('..img/for man.jpg');
	margin-right: 30px;
}

.sales__item--accesories {
	width: 100%;
	margin-top: 30px;
}

.sales__item-text {
	position: absolute;
	text-transform: uppercase;
	color: white;
	display: block;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.sales__item-title {
	color: var(--pink-text);
	display: block;
	position: absolute;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	font-weight: 700;
	;
}

.product__title {
	text-align: center;
	padding-top: 97px;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.product__text {
	text-align: center;
	margin-top: 6px;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
	margin-bottom: 48px;
}

.product__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product__item {
	background: #F8F8F8;
	margin-top: 30px;
}

.product__item-title {
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-top: 24px;
}

.product__item-desc {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	width: 314px;
	margin-top: 12px;
}

.product__item-price {
	color: var(--pink-text);
	margin-top: 18px;
}

.product__button {
	font-size: 16px;
	line-height: 19px;
	color: #F26376;
	border: 1px solid #FF6A6A;
	padding: 14px 38px;
	margin-top: 48px;
	right: 50px;
}

.product__button-button {
	display: flex;
	justify-content: center;
}


.benefits__list {
	display: flex;
	justify-content: space-around;
	background: #222224;
	min-height: 341px;
	margin-top: 95px;
}

.benefits__item {
	margin-top: 104px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 104px;
}

.benefits__item-img {
	margin-bottom: 28px;
}

.benefits__item-title {
	font-size: 19.96px;
	line-height: 24px;
	color: #FBFBFB;
}

.benefits__item-desc {
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	width: 300px;
	color: #FBFBFB;
	margin-top: 16px;
}